In [51]:
import pandas as pd
data1=pd.read_csv("output.csv")

In [52]:
data1.head()

,website_name,website_url
0,"Arts,Movies,Television,Music,Business,Jobs,Rea...","/Arts/Movies/,/Arts/Television/,/Arts/Music/,/..."

In [53]:
data1.iloc[0][1]

'/Arts/Movies/,/Arts/Television/,/Arts/Music/,/Business/,/Business/Employment/,/Business/Real_Estate/,/Business/Investing/,/Computers/,/Computers/Internet/,/Computers/Software/,/Computers/Hardware/,/Games/,/Games/Video_Games/,/Games/Roleplaying/,/Games/Gambling/,/Health/,/Health/Fitness/,/Health/Medicine/,/Health/Alternative/,/Home/,/Home/Family/,/Home/Consumer_Information/,/Home/Cooking/,/News/,/News/Media/,/News/Newspapers/,/News/Weather/,/Recreation/,/Recreation/Travel/,/Recreation/Food/,/Recreation/Outdoors/,/Recreation/Humor/,/Reference/,/Reference/Maps/,/Reference/Education/,/Reference/Libraries/,/Regional/,/Regional/North_America/United_States/,/Regional/North_America/Canada/,/Regional/Europe/United_Kingdom/,/Regional/Europe/,/Science/,/Science/Biology/,/Science/Social_Sciences/Psychology/,/Science/Physics/,/Shopping/,/Shopping/Clothing/,/Shopping/Food/,/Shopping/Gifts/,/Society/,/Society/People/,/Society/Religion_and_Spirituality/,/Society/Issues/,/Sports/,/Sports/Baseball/,/Sports/Soccer/,/Sports/Basketball/,/Kids_and_Teens/,/Kids_and_Teens/Arts/,/Kids_and_Teens/School_Time/,/Kids_and_Teens/Teen_Life/,/World/,/World/Deutsch/,/World/Fran%C3%A7ais/,/World/Japanese/,/World/Italiano/,/World/Espa%C3%B1ol/,/World/Russian/,/World/Nederlands/,/World/Polski/,/World/T%C3%BCrk%C3%A7e/,/World/Dansk/,/World/Chinese_Simplified/,/docs/en/termsofuse.html,/docs/en/cmbuild.html'

In [63]:
data1.iloc[0][0]

'Arts,Movies,Television,Music,Business,Jobs,Real Estate,Investing,Computers,Internet,Software,Hardware,Games,Video Games,RPGs,Gambling,Health,Fitness,Medicine,Alternative,Home,Family,Consumers,Cooking,News,Media,Newspapers,Weather,Recreation,Travel,Food,Outdoors,Humor,Reference,Maps,Education,Libraries,Regional,US,Canada,UK,Europe,Science,Biology,Psychology,Physics,Shopping,Clothing,Food,Gifts,Society,People,Religion,Issues,Sports,Baseball,Soccer,Basketball,Kids , Teens Directory,Arts,School Time,Teen Life,DMOZ , World,Deutsch,Français,日本語,Italiano,Español,Русский,Nederlands,Polski,Türkçe,Dansk,简体中文,Terms of Use,CMBuild'

In [54]:
a=str(data1.iloc[0][0])

In [55]:
z=a.split(',')

In [58]:
b=str(data1.iloc[0][1])

In [59]:
x=b.split(",")

In [65]:
fin = {'website name': z[0:75],
        'website url': x
        }

df = pd.DataFrame(fin, columns = ['website name', 'website url'])

print (df)

   website name                 website url
0          Arts               /Arts/Movies/
1        Movies           /Arts/Television/
2    Television                /Arts/Music/
3         Music                  /Business/
4      Business       /Business/Employment/
..          ...                         ...
70      Русский    /World/T%C3%BCrk%C3%A7e/
71   Nederlands               /World/Dansk/
72       Polski  /World/Chinese_Simplified/
73       Türkçe    /docs/en/termsofuse.html
74        Dansk       /docs/en/cmbuild.html

[75 rows x 2 columns]

In [66]:
len(z)

78

In [67]:
len(x)

75

In [68]:
df

   website name                 website url
0          Arts               /Arts/Movies/
1        Movies           /Arts/Television/
2    Television                /Arts/Music/
3         Music                  /Business/
4      Business       /Business/Employment/
..          ...                         ...
70      Русский    /World/T%C3%BCrk%C3%A7e/
71   Nederlands               /World/Dansk/
72       Polski  /World/Chinese_Simplified/
73       Türkçe    /docs/en/termsofuse.html
74        Dansk       /docs/en/cmbuild.html

[75 rows x 2 columns]

In [70]:
df.to_csv('catalog.csv',index=False)